<h1>My Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
  <label for="vehicle1"> <%= link_to "#{task.title}", task_path(task) %></label><br>
  <% end %>
</ul>


